.venv/
__pycache__/
*.pyc
dev-ignore/
report.md
eval_bundle/

# Secrets
.env

# Local setup
.claude
CLAUDE.md
wandb/
.DS_Store
base_data
bagaco_data
base_checkpoints/d6
pt_eval_bundle
pt_eval_bundle.zip
